.image{
    width: 200px;
    height: 200px;
}
.image[src=""]{
    display: none;
  }
.beerListContainer{
    display: none;
}
.showBeerList{
    display: flex;
    flex-direction: column;
}
.showBeerList h2{
    align-self: center;
    font-size: 2.5rem;
    padding: 2rem;
    font-family: 'Roboto Slab', serif;
    color: #1F6521;
}
.allBeers{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: #1F6521;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    text-align: left;
}
.beerListItem{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.removeBeerBtn{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: white;
    background-color: #1F6521;
    border: none;
    cursor: pointer;
    width: 15rem;   
    height: 3rem;
    border-radius: 20% 0 50% 0;
    margin-bottom: 1rem;
}
.removeBeerBtn:hover{
    color: red;
    transition: 0.5s;
}